In [6]:
import pandas as pd

# Practice problem III

In [15]:
# load the Chipotle dataset
path = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Practice/master/Data/chipotleorders.csv'
df = pd.read_csv(path)

Display the first 10 entries of the dataset

In [5]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

What is the number of observations (rows) in the dataset?

In [6]:
len(df)

4622

What is the number of columns in the dataset?

In [7]:
df.shape[1]

5

Print the name of all the columns

In [8]:
print(*df.columns, sep=", ")

order_id, quantity, item_name, choice_description, item_price

 How many different items are sold?

In [9]:
df['item_name'].nunique()

50

Which was the most-ordered item?

In [25]:
#df['item_name'].mode()

item_counts = df['item_name'].value_counts()

# Get the most occurring item_name
most_occurring_item = item_counts.idxmax()
most_occurring_count = item_counts.max()

print("Most occurring item_name:", most_occurring_item)
print("Number of occurrences:", most_occurring_count)

Most occurring item_name: Chicken Bowl
Number of occurrences: 726

What was the most ordered item in the choice_description column?

In [22]:
df['choice_description'].mode()

0    [Diet Coke]
Name: choice_description, dtype: object

How many items were ordered in total?

In [11]:
print(df['quantity'].sum())

4972

Assign the following Series to the `item_price` column

In [8]:
df.item_price.str.replace('$','').apply(float)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [24]:
df['item_price'] = df['item_price'].replace('$', '').astype(float)
df.head()

,order_id,quantity,item_name,choice_description,item_price,total_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

Compute the price of each order (this is, multiply the column `item_price` by the column `quantity`). Assign it to a new column named `total_price`.

In [17]:
df['total_price'] = df['item_price'] * df['quantity']
df.head()

,order_id,quantity,item_name,choice_description,item_price,total_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

Compute the total revenue for the period in the dataset

In [19]:
print(df['total_price'].sum())

39237.02